*{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a{
    text-decoration: none;
    color: #000;
}
.nav-header{
    margin: 0 0 0 200px;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar-list{
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    color:black;
    font-weight: 500;
    overflow: hidden;
    margin: 5px 0 0 0;
}
.navbar-list > li{
    display: inline-block;
    padding: 5px 10px;
}

.main{
    margin: 0 0 0 0;
}

.recent{
    background-color: rgba(174, 28, 28, 0.5);
    width: 150px;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px 10px;
}

.post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card{
    width: 400px;
    overflow: hidden;
    padding: 20px 20px;
}
.post-image{
    width: 100%;
}

.post-card-head{
    font-size: 1.3rem;
    width: 100%;
    text-align: justify;
    margin: 0 0 10px 0;
}

.post-card-span{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    font-style: italic;
}
.post-card-description{
    width: 100%;
    text-align: justify;
    font-size: 1.3rem;
    color: gray;
    margin: 20px 0 4px 0;
}

.post-card-link{
    background-color: steelblue;
    font-size: 1.4rem;
    padding: 20px 20px;
    cursor: pointer;
    text-align: center;
}

.newsletter-main{
    background-color: steelblue;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    padding: 30px 0 30px 0;
}

.newsletter-input{
    border-radius: 30px;
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
}

.newsletter-input:focus{
    border: 3px solid steelblue;
}

.newsletter-button{
    background-color: #fff;
    height: 40px;
    width: 140px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    height: 50px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: #fff;
    margin: 30px 0 0 0;
    font-size: 1.3rem;
}
.footerDesc{
    width: 400px;
    margin: 40px 0 0 0;
    padding: 20px 20px;
}
.footerhead{
    margin: 0 0 20px 0;
    color: #fff;
}
.footerCat{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    list-style-type: none;
}
.footerCatlist{
    padding: 10px 10px 0 10px;
}
